{% extends 'Home/frontpage.html' %}


{% block content %}
<script>
    function removeInputFields(button) {
        // Get the parent element of the button
        const inputFields = button.parentNode;
        
        // Remove the input fields
        inputFields.remove();
    }
    
    //clear inputs
    function clearInputFields(button){

        const inputs = button.parentNode.querySelectorAll('input');
        inputs.forEach(input => {
        input.value = '';
        });
      }

    function addInputFields(div) {

        //Find parent div
        const myDiv = document.getElementById(div);

        // create the elements
        var div = document.createElement("div");
        div.setAttribute("id", "inputs");
      
        var label1 = document.createElement("label");
        label1.setAttribute("for", "film_name");
        label1.innerHTML = "Film Name: ";
      
        var input1 = document.createElement("input");
        input1.setAttribute("type", "text");
        input1.setAttribute("name", "film_name");
        input1.setAttribute("id", "film_name");
        input1.setAttribute("value", "");
        input1.setAttribute("required", "");
      
        var label2 = document.createElement("label");
        label2.setAttribute("for", "language");
        label2.innerHTML = "Language:";
      
        var input2 = document.createElement("input");
        input2.setAttribute("type", "text");
        input2.setAttribute("name", "language");
        input2.setAttribute("id", "language");
        input2.setAttribute("value", "");
        input2.setAttribute("required", "");
      
        var label3 = document.createElement("label");
        label3.setAttribute("for", "show_time");
        label3.innerHTML = "Show Time:";
      
        var input3 = document.createElement("input");
        input3.setAttribute("name", "show_time");
        input3.setAttribute("id", "show_time");
        input3.setAttribute("value", "");
        input3.setAttribute("required", "");
      
        var button1 = document.createElement("button");
        button1.setAttribute("type", "button");
        button1.setAttribute("class", "remove-film-input");
        button1.setAttribute("onclick", "removeInputFields(this)");
        button1.innerHTML = "Remove Film";

        var button2 = document.createElement("button");
        button2.setAttribute("type", "button");
        button2.setAttribute("class", "clear-film-input");
        button2.setAttribute("onclick", "clearInputFields(this)");
        button2.innerHTML = "Clear";
      
        var br = document.createElement("br");
      
        // append the elements to the div
        div.appendChild(label1);
        div.appendChild(input1);
        div.appendChild(label2);
        div.appendChild(input2);
        div.appendChild(label3);
        div.appendChild(input3);
        div.appendChild(button2);
        div.appendChild(button1);
        div.appendChild(br);
      
        // add the div to the document
        myDiv.appendChild(div);
      }
      
      

      document.addEventListener('submit', (e) => {
        e.preventDefault(); // prevent the default form submission behavior
        const formData = new FormData(e.target); // get the form data
        // send an AJAX request to the server
        fetch('/dashboard/upload/', {
            method: 'POST',
            body: formData
        })
        .then(response => {
            if (response.ok) {
                alert('success');
            } else {
                throw new Error('Error submitting form data');
            }
        })
        .catch(error => {
            console.error(error);
            // handle the error
        });
    });

      
      
</script>
<h2>Select Location and Place</h2>
<form method="post">
    {% csrf_token %}
    <label for="location">Location:</label>
    <select name="location" id="location" onChange="form.submit();">
        <option hidden=true value="{{ selected_location_id }}">{{ defloc.name }}</option>
        {% for location in locations %}
        <option value="{{ location.id }}">{{ location.name }}</option>        
        {% endfor %}
    </select>
    <label for="place">Place:</label>
    <select name="place" id="place" onChange="form.submit();"> 
        <option hidden=true value="{{ selected_place_id }}">{{ defplace.name }}</option>
        {% for place in places %}       
        <option value="{{ place.id }}">{{ place.name }}</option>        
        {% endfor %}
    </select>
</form>
{% if selected_location_id and selected_place_id %}
    <h2>Input Film Details for Each Theatre</h2>
    {% for theater in theaters %}
        <h3>{{ theater.name }}</h3> 
            {% for screen in theater.thrscreen.all %}
                <h4>{{ screen.name }}</h4>
                <form method="post" id="daily-input-form" action="{% url 'uploadHandle' %}">    
                    {% csrf_token %}
                    <input type="hidden" name="selected_location_id" value="{{selected_location_id}}">
                    <input type="hidden" name="selected_place_id" value="{{ selected_place_id }}">
                    <input type="hidden" name="screen_id" value="{{ screen.id }}">
                    <input type="hidden" name="theater_id" value="{{ theater.id }}">
                    <div>
                        <div class="film-input" id="input-field{{screen.id}}">     
                            {% if theater.thrshow.exists %}
                                {% for show in theater.thrshow.all %}
                                    {% if show.screen_id_id == screen.id and show.current%}
                                        <div id="inputs">
                                            <label for="film_name">Film Name:</label>
                                            <input type="text" name="film_name" id="film_name" value="{{show.film_name}}"required>      
                                            <label for="language">Language:</label>
                                            <input type="text" name="language" id="language" value="{{show.language}}" required>
                                            <label for="show_time">Show Time:</label>
                                            <input name="show_time" id="show_time" value="{{show.show_times}}" required>                         
                                            <button type="button" class="clear-film-input" onclick="clearInputFields(this)">Clear</button>
                                            <button type="button" class="remove-film-input" onclick="removeInputFields(this)">Remove Film</button>  
                                            <br>  
                                        </div>
                                    {% endif %}                                                                                
                                {% endfor %}                            
                            {% endif %}    
                        </div>
                        <div class="film-input-actions">
                            <button type="button" class="add-film-input" onClick="addInputFields('input-field{{screen.id}}')">Add Film</button>
                            <button type="submit" name='submit'>Submit</button>  
                        </div>    
                    </div>                  
                </form>
            {% endfor %}      
    {% endfor %}
{% endif %}

{% endblock content %}


